main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-icon {
    margin-right: 0.5em;
}

.nav-item button {
    width: 100%;
    text-align: left;
}